@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://unpkg.com/normalize.css') layer(normalize);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Pecita";
    src: url("../fonts/Pecita.woff2") format("woff2"),
        url("../fonts/Pecita.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Digital Numbers';
  src: url('../fonts/digital-7.ttf') format('truetype');
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, #cac0ff, #8481d8);
    min-height: 100vh;
    color: white;
    font-family: "Pecita", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

@layer normalize, base, demo, stick, effect, srollbar, debug;

@layer debug {
    [data-debug='true'] li {
        outline: 0.05em dashed currentColor;
    }

    [data-debug='true'] :is(h2, li:last-of-type) {
        outline: 0.05em dashed canvasText;
    }
}

@layer scrollbar {
    @property --hue {
        initial-value: 0;
        syntax: '<number>';
        inherits: false;
    }

    @property --chroma {
        initial-value: 0;
        syntax: '<number>';
        inherits: true;
    }

    [data-sync-scrollbar='true'] {
        scrollbar-color: oklch(var(--lightness) var(--chroma) var(--hue)) #0000;
    }

    @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
        [data-sync-scrollbar='true'][data-animate='true'] {
            timeline-scope: --list;
            scrollbar-color: oklch(var(--lightness) var(--chroma, 0) var(--hue)) #0000;
            animation-name: change, chroma-on, chroma-off;
            animation-fill-mode: both;
            animation-timing-function: linear;
            animation-range: entry 50% exit 50%, entry 40% entry 50%,
                exit 30% exit 40%;
            animation-timeline: --list;

            ul {
                view-timeline: --list;
            }
        }
    }

    @keyframes change {
        to {
            --hue: var(--end);
        }
    }

    @keyframes chroma-on {
        to {
            --chroma: 0.3;
        }
    }

    @keyframes chroma-off {
        to {
            --chroma: 0;
        }
    }
}

@layer effect {
    :root {
        --start: 220;
        --end: 260;
        --lightness: 65%;
        --base-chroma: 0.3;
    }

    [data-theme='dark'] {
        --lightness: 75%;
    }

    [data-theme='light'] {
        --lightness: 65%;
    }

    @media (prefers-color-scheme: dark) {
        --lightness: 75%;
    }

    ul {
        --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
        background: linear-gradient(#9BD4E8, #ffffff);

        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    @supports (animation-timeline: scroll()) and (animation-range: 0% 100%) {
        [data-animate='true'] {
            li {
                opacity: 0.2;
                animation-name: brighten;

                &:first-of-type {
                    --start-opacity: 1;
                }

                &:last-of-type {
                    --brightness: 1;
                    --end-opacity: 1;
                }

                animation-fill-mode: both;
                animation-timing-function: linear;
                animation-range: cover calc(50% - 1lh) calc(50% + 1lh);
                animation-timeline: view();
            }
        }

        @keyframes brighten {
            0% {
                opacity: var(--start-opacity, 0.2);
            }

            50% {
                opacity: 1;
                filter: brightness(var(--brightness, 1.2));
            }

            100% {
                opacity: var(--end-opacity, 0.2);
            }
        }
    }
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    border: 1px solid #0000;
}

@layer stick {
    section:first-of-type {
        --font-level: 6;
        display: flex;
        line-height: 1.25;
        width: 100%;
        padding-left: 5rem;
    }

    section:last-of-type {
        min-height: 100vh;
        display: flex;
        place-items: center;
        width: 100%;
        justify-content: center;

        h2 {
            --font-level: 6;
        }
    }


    section:first-of-type h2 {
        position: sticky;
        top: calc(50% - 0.5lh);
        font-size: inherit;
        margin: 0;
        display: inline-block;
        height: fit-content;
        font-weight: 400;
    }

    ul {
        font-weight: 400;
        padding-inline: 0;
        margin: 0;
        list-style-type: none;
        font-size: 4.5rem;
    }

    [data-snap='true'] {
        scroll-snap-type: y proximity;

        li {
            scroll-snap-align: center;
        }
    }

    h2,
    li:last-of-type {
        background: linear-gradient(canvasText 50%,
                color-mix(in oklch, canvas, canvasText 25%));
        background-clip: text;
        color: #ffffff;
    }
}

@layer demo {
    header {
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

@layer base {
    :root {
        --font-size-min: 14;
        --font-size-max: 20;
        --font-ratio-min: 1.1;
        --font-ratio-max: 1.33;
        --font-width-min: 375;
        --font-width-max: 1500;
    }

    :where(.fluid) {
        --fluid-min: calc(var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0)));
        --fluid-max: calc(var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0)));
        --fluid-preferred: calc((var(--fluid-max) - var(--fluid-min)) / (var(--font-width-max) - var(--font-width-min)));
        --fluid-type: clamp((var(--fluid-min) / 16) * 1rem,
                ((var(--fluid-min) / 16) * 1rem) - (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) + (var(--fluid-preferred) * var(--variable-unit, 100vi)),
                (var(--fluid-max) / 16) * 1rem);
        font-size: var(--fluid-type);
    }


    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}


.logo-img {
    width: 4rem;
    height: auto;
    margin-right: 1rem;
}

.arcos-section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: 5rem;
}

.fixed-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60rem;
    z-index: 0;
}

.title-top {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

/* .decor-top-right {
  position: absolute;
  width: 19rem;
  top: 8rem;
  right: 0;
  z-index: 10; 
} */

.decor-top-right {
  position: absolute;
  width: 19rem;
  top: 8rem;
  right: 0;
  z-index: 10;
  filter: drop-shadow(0 0 10px #A7DEED)
          drop-shadow(0 0 30px #A7DEED)
          drop-shadow(0 0 60px #A7DEED);
  animation: piscarNeon2 1.5s infinite alternate;
}

@keyframes piscarNeon {
  0% {
    filter: drop-shadow(0 0 10px #CCCCD8)
            drop-shadow(0 0 30px #CCCCD8)
            drop-shadow(0 0 60px #CCCCD8);
  }
  100% {
    filter: drop-shadow(0 0 3px #CCCCD8)
            drop-shadow(0 0 10px #CCCCD8);
  }
}

@keyframes piscarNeon2 {
  0% {
    filter: drop-shadow(0 0 10px #A7DEED)
            drop-shadow(0 0 30px #A7DEED)
            drop-shadow(0 0 60px #A7DEED);
  }
  100% {
    filter: drop-shadow(0 0 3px #A7DEED)
           drop-shadow(0 0 10px #A7DEED);
  }
}

.decor-bottom-left {
  position: absolute;
  width: 19rem;
  bottom: 1rem;
  left: 0;
  z-index: 10; 
  filter: drop-shadow(0 0 10px #7a5ace)
          drop-shadow(0 0 30px #7a5ace)
          drop-shadow(0 0 60px #7a5ace);
  animation: piscarNeon 1.5s infinite alternate;
}



/* .decor-bottom-left {
  position: absolute;
  width: 19rem;
  bottom: 1rem;
  left: 0;
  z-index: 10; 
} */

.aury-mascot {
    position: absolute;
  width: 19rem;
  bottom: 0;
  right: 0;
  z-index: 10; 
}

.text-center {
    width: 60%;
    height: 60%;
}

h1 {
    font-size: 3rem;
    color: #72678d;
    z-index: 1;
}

h2 {
    font-size: 4.5rem;
    color: #fff;
    font-weight: semi-bold;
}

h3 {
    font-size: 2.2rem;
    color: #72678d;
    font-weight: semi-bold;
        font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

p .highlight {
    color: #72678d;
      font-family: 'Josefin Sans', sans-serif;
}


.arcos {
    width: 100%;
    display: flex;
    height: 50%;
    margin: .5rem 0;
}

.arco {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.arco img {
    width: 70%;
    transition: 0.8s ease;
}

.arco span {
    font-size: 40px;
    color: #fff;
    position: absolute;
    transition: 0.1s ease;
}

.arco:hover img {
    scale: 1.1;
}


.align-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textos-legenda {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.texto-arco {
    width: 30%;
}

.texto-arco p {
    font-size: 1.2rem;
    color: #fff;
    font-weight: semi-bold;
    margin-bottom: 0.5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.relogio-container {
  position: relative;
  display: inline-block;
}

.relogio {
  width: 29rem;
  margin: 3rem 0;
  display: block;
}

.timer {
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: 'Digital Numbers', sans-serif;
  color: #fff;
  font-size: 9rem;
  text-shadow: 0 0 10px #B3B1E5, 0 0 20px #B3B1E5, 0 0 40px #B3B1E5;
}

.floating-btn {
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color: #72678d;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}

.floating-btn:hover {
    background-color: #5c5270;
}

.navbar {
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.logo {
  font-family: 'Pecita', sans-serif;
  font-size: 2.5rem;
  color: #fff;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #695F8B;
  font-size: 1.5rem;
  font-weight: 400;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fff;
}


.elipse {
  animation: pulse 4s ease-in-out infinite;
  opacity: 0.7;
    transform-origin: center center; 
  will-change: transform; 
}

@keyframes pulse {
  0%, 100% { transform: scale(0.9); }
  50% { transform: scale(1); } 
}
