* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pecita";
    src: url("../fonts/Pecita.woff2") format("woff2"),
        url("../fonts/Pecita.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom right, #cac0ff, #8481d8);
    min-height: 100vh;
    color: white;
    font-family: "Pecita", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      background: rgba(255, 255, 255, 0.2); /* leve fundo transparente opcional */
      backdrop-filter: blur(5px); /* efeito glass */
      z-index: 1000;
    }

    .logo {
      font-family: 'Pecita', cursive;
      font-size: 32px;
      color: #72678D;
    }

    nav a {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 18px;
      color: #72678D;
      text-decoration: none;
      margin-left: 25px;
      transition: color 0.3s ease;
    }

    nav a:hover {
      color: #4f4666;
    }


section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-direita {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.texto-centro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.texto-centro button {

}